<h1> <b>Welcome to Rock, Paper, Scissors Simulator!</b></h1>

<p> In this battle of wits (against yourself), you must insert a "Rock", a "Paper" or a pair of "Scissors" into each of your hands. Then it is your duty to smash them together repeatedly to see which one "wins".</p>

<p>Alternatively, you can put the name of your chosen weapon into the url above in the following format: </p>

<p>http://localhost:4567/rps/</p>

<p>followed immediately by a rock, paper or pair of scissors in each weapon slot:</p>

<p>left hand/right hand</p>

<p>Outside weaponry is banned.</p>